<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giveapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".reservedFood"></activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".foodDetails" />
        <activity android:name=".userFoodMain" />
        <activity android:name=".MealThrillsUser" />
        <activity android:name=".mealthrills_fnb_post" />
        <activity android:name=".CreditCardList" />
        <activity android:name=".iCU_donation_details" />
        <activity android:name=".CreditCard" />
        <activity android:name=".iCU_donate" />
        <activity android:name=".iCU_sent_details" />
        <activity android:name=".iCU_uncompleted_accept_reject" />
        <activity android:name=".iCU_uncompleted_details" />
        <activity android:name=".Friends_details" />
        <activity android:name=".Friends" />
        <activity android:name=".FriendRequests_details" />
        <activity android:name=".FriendRequests" />
        <activity android:name=".SearchFriends_details" />
        <activity android:name=".mealthrills_fnbOwners" />
        <activity android:name=".rfo_donation_details" />
        <activity android:name=".rfo_donate" />
        <activity android:name=".rfo_stepcounter" />
        <activity android:name=".SearchFriends" />
        <activity android:name=".iCU_challenge_details" />
        <activity android:name=".iCU_sent" />
        <activity android:name=".iCU_challenges" />
        <activity android:name=".iCU_uncompleted" />
        <activity android:name=".iCU_main" />
        <activity android:name=".Profile" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Login" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".confirmCollection" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>